.slider {
  height: 40px;
  border: 5px solid var(--red);
  border-radius: 20px;
}

.thumb {
  background-color: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.slider.green {
  border: 5px solid var(--green);
}
.slider.green .thumb {
  background-color: var(--green);
}
